* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #384d48;
}

ion-icon {
  font-size: 3rem;
  cursor: pointer;
}

.flexDir-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.hide {
  display: none;
}

.input-text {
  width: 20%;
  height: 3rem;
}

.list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__tasks {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 2rem;
  margin: 2rem 0;
}
.list__tasks__task {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2rem;
}
.list__todo {
  width: 40%;
}
.list__todo .task__name {
  color: #d8d4d5;
  background-color: #acad94;
}
.list__done {
  width: 40%;
}
.list__done .task__name {
  color: #d8d4d5;
  background-color: #6e7271;
  opacity: 0.5;
}
.list__done .list__tasks__task {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.line {
  width: 20%;
}

.task__name {
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  max-width: 100%;
}

.list::after {
  content: "";
  height: 20%;
  width: 2px;
  border-right: 2px dashed #333;
  position: absolute;
}