//----- COLORS -----

$todoTextColor: #c3cac8;
$doneTextColor: #4c5f5a;
$todoBackgroundColor: #324541;
$doneBackgroundColor: #2d3e3a;
$backgroundColor: #384d48;
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  margin-top: 40vh;
  font-family: 'Montserrat', sans-serif;
  background-color: $backgroundColor;
  transform: translateY(-50%);
  position: relative;
}
ion-icon {
  font-size: 3rem;
  cursor: pointer;
}
ion-icon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.cong {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 5;

  &__text {
    font-size: 2rem;
    text-transform: uppercase;
    color: gold;

    &-close {
      margin-top: 1rem;
      cursor: pointer;
      font-size: 2rem;
      color: #aaa;
    }
  }
}

.grid {
  display: grid;
  margin: 0 0.5rem;
  grid-template-areas:
    '. input .'
    'todo mid done';
  grid-template-columns: 10fr 1fr 10fr;
  justify-items: center;
}

.middle {
  grid-area: mid;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30rem;

  font-size: 2.4rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;

  &-todo {
    flex-basis: 100%;
    color: #273632;
    background-color: $todoBackgroundColor;
    padding: 0 1rem;
  }
  &-done {
    flex-basis: 100%;
    color: $doneTextColor;
    background-color: $doneBackgroundColor;
    padding: 0 1rem;
  }
}
.hide {
  display: none;
}
.input {
  grid-area: input;
  position: relative;
  z-index: 100;
  &:hover,
  &:active {
    width: 200%;
  }

  & .add__task {
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 2rem;
    color: $doneBackgroundColor;
  }
}
.input-text {
  color: $todoTextColor;
  background-color: $doneTextColor;
  border: none;
  width: 100%;
  padding: 1rem;
  height: 3rem;

  &:focus {
    outline: 2px solid #889491;
    border-radius: 3px;
  }
}
::placeholder {
  color: #222e2b;
  opacity: 0.7;
}
.list__todo {
  grid-area: todo;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  background-color: $todoBackgroundColor;
  & .task__name {
    color: $todoTextColor;
  }
  & .list__todo__task {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    & .arrow-right {
      position: absolute;
      right: 0;
      color: $doneTextColor;
      height: 100%;
      font-size: 2rem;
      background-color: $doneBackgroundColor;
    }
    & .delete-task {
      position: absolute;
      left: 0;
      font-size: 2rem;
      color: $doneTextColor;
      height: 100%;
      background-color: $doneBackgroundColor;
    }
  }
}
.border {
  box-shadow: inset 0 0 0 0.2rem $doneBackgroundColor;
}
.list__done {
  grid-area: done;
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  & .list__done__task {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $doneBackgroundColor;
    & .task__name {
      color: $doneTextColor;
      text-decoration: 1px solid line-through #889491;
    }
  }
}

.task__name {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 3.5rem;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .cong__text {
    font-size: 1.5rem;
  }

  .arrow-right {
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 1.8rem;
  }
}
